# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build/
dist/
eggs/
*.egg

# Virtual environments
.venv/
env/
venv/
ENV/

# Temporary and cache files
.pytest_cache/
.coverage
*.sqlite3
*.db
report.html
vulnhound_*.html
vulnhound_*.json
vulnhound_*.txt
vulnhound_*.csv

# OS specific
.DS_Store
Thumbs.db
